<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<%= form_with(model: @user, local: true) do |f| %>
	<%= f.text_field :name %>
	<%= f.email_field :email %>
	<%= f.text_field :password_digest %>
	<%= f.submit %>
<% end %>