<!DOCTYPE html>
<html>
  <head>
    <title>BlogAjax</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p><%= link_to 'ユーザー一覧', user_path if logged_in? %></p>
    </header>
    <%= yield %>
  </body>
</html>
